/* Global reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body{
    background-position: center;
    background-size: cover;
    position: relative;  
    background-image: linear-gradient(rgba(116, 145, 189, 0.8), rgba(116, 145, 189, 0.8)), url(background.png);
}

/* Header styles */
.header {
    margin-top: -150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Form step styles */
.form-step {
    width: 60%;
    max-width: 500px;
    margin: auto; 
    display: block; 
    padding: 25px; 
    margin-left: 500px; /* Positioning */
    background: #fff;
    border: solid black 2px;
    border-radius: 20px;
    margin-top: 10%; 
}

.form-step div {
    margin-bottom: 15px; 
    text-align: left; 
    display: flex; 
    align-items: left; 
}

.form-step label {
    flex: 1; 
    margin-right: 10px; 
}

.form-step input {
    flex: 2; 
}

/* Progress bar styles */
#progress-container {
    width: 80%; /* Adjust to fit the width of your form */
    background-color: #ddd;
    border-radius: 40px;
    margin-top: 20px; /* Space between form and progress bar */
    margin-left: 62px; /* Centers the progress bar */
    border: 1.5px solid black;
}

#progress-bar {
    width: 0%;
    height: 10px;
    background-color: #02f70e;
    border-radius: 40px;
}

/* Completion message styles */
.completion {
    width: 60%; /* Match the form width */
    max-width: 450px; /* Match the form max-width */
    margin: 20px auto 0; /* Center horizontally and add space from the form */
    text-align: center;
    color: #040533;
    font-weight: bold;
    margin-left: 500px; /* Positioning */
}

#progress-text{
    margin-left: 23px;
}

/* Additional styles */
#gender{
    text-align: left;
    display: flex;
}

.but{
    align-items: center;
    margin-left: 310px;
    margin-top: 30px;
    gap: 30px;
}

.but button{
    border-radius: 5px;
    background-color: #a9c8fb;
    align-self: center;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
}

.but button a{
    text-decoration: none;
    color: black;
}

.but button:hover {
    background-color: #6ea2f4; 
    font-weight: 490;   
}

.step1 button{
    border-radius: 5px;
    background-color: #a9c8fb;
    align-self: center;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 390px; /* Positioning */
    margin-top: 18px; /* Positioning */
    border: none;
}

.step1 button:hover{
    background-color: #6ea2f4;
    font-weight: 490; 
}

.heading{
    padding-bottom: 50px;
    font-size: 25px;
    text-align: center;
}
