*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(rgba(166, 166, 190, 0.8), rgba(160, 160, 199, 0.8)), url(../images/feedbackbground.png);
}
/* Message styling */
#message{
    display: flex;
    padding: 30px;
    margin: 140px;
    text-align: center; 
}

#message h1{
    font-size: 80px;
    color: rgb(0, 0, 0);
}

