/* importing the fonts */
@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100..800&display=swap');
body {
    font-family: "Anek Malayalam", sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    background-image: linear-gradient(rgba(106, 137, 199, 0.8),rgba(106, 137, 199, 0.8)), url(background.jpg);
    background-position: cover;
    overflow-x: hidden;
}

#home{
    margin-top: -50px;
    padding-bottom:50px;
    padding-top: 50px;
}

/* Styling for the entire body */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for heading */
h2 {
    text-align: left;
    margin-top: 50px;
}

/* Styling for form */
form {
    margin-top: 40px;
}

/* Styling for labels */
label {
    display: block;
    margin-bottom: 5px;
}

/* Styling for input fields */
input[type="text"], input[type="email"], input[type="tel"], input[type="select"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

/* Styling for textareas */
textarea {
    height: 70px;
}

/* Styling for submit button */
button[type="submit"] {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Hover styling for submit button */
button[type="submit"] :hover {
    background-color: #45a049;
}

/* styling for reset button */
button[type="reset"] {
    padding: 10px 20px;
    background-color: #ccc;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Hover styling for reset button */
button[type="reset"]:hover {
    background-color: #bbb;
}

/* Styling for feedback container */
#feedback {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
}

/* Styling for success feedback */
.success {
    background-color: #dff0d8;
    border: 1px solid #d0e9c6;
    color: #3c763d;
}

/* Styling for error feedback */
.error {
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
}

/* Styling for card details */
#cardDetails {
    display: none;
}
